--color-1 {background-color: rgb(163,214,243); color: hsl(202,33,95);}
--color-2 {background-color: rgb(35,87,135); color: hsl(209,74,53);}
--color-3 {background-color: rgb(129,90,135); color: hsl(292,33,53);}
--color-4 {background-color: rgb(118,97,138); color: hsl(271,30,54);}
--color-5 {background-color: rgb(90,67,111); color: hsl(271,40,44);}
--color-6 {background-color: rgb(123,65,64); color: hsl(1,48,48);}
--color-7 {background-color: rgb(161,76,69); color: hsl(5,57,63);}
--color-8 {background-color: rgb(117,96,51); color: hsl(41,56,46);}
--color-9 {background-color: rgb(174,135,44); color: hsl(42,75,68);}
--color-10 {background-color:rgb(240,190,141); color: hsl(30,41,94);}
--color-11 {background-color:rgb(246,234,96); color: hsl(55,61,96);}
--color-12 {background-color:rgb(230,191,34); color: hsl(48,85,90);}
--color-13 {background-color:rgb(178,162,163); color: hsl(356,,9,70);}
--color-14 {background-color:rgb(49,113,141); color: hsl(198,65,55);}
--color-15 {background-color:rgb(139,183,208); color: hsl(202,33,82);}
--color-16 {background-color:rgb(112,142,153); color: hsl(196,27,60);}
--color-17 {background-color:rgb(169,166,187); color: hsl(249,11,73);}
--color-18 {background-color:rgb(88,95,150); color: hsl(233,41,59);}
--color-19 {background-color:rgb(153,38,41); color: hsl(358,75,60);}

--color-lite {background-color: rgb(234,233,239);color: hsl(250,3,94);}
--color-dark {background-color: rgb(24,24,24);color: hsl(0,0,9);}
